
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-header mheader">
    @*<div class="btn-group">
            <button type="button" class="button-label btn ink-reaction btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                Type <i class="fa fa-angle-down text-default-green"></i>
            </button>
            <ul class="dropdown-menu animation-zoom" role="menu">
                <li><a href="#">Add</a></li>
                <li><a href="#">Edit</a></li>
                <li><a href="#">Copy</a></li>
                <li><a href="#">Print</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="fa fa-fw fa-times text-danger"></i> Remove item</a></li>
            </ul>
        </div>*@
    <div class="btn-group">
        <button type="button" class="button-label btn ink-reaction btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
            Category 
            <sup class="badge style-success-screen" style="margin: 2px;background: #008489!important">4</sup>
            <i class="fa fa-angle-down text-default-green"></i>
        </button>
        <div class="dropdown-menu animation-zoom category-menu" role="menu">
            <div style="padding: 20px">
                <div class="row">
                    <div class="col-md-4">
                        <p>
                            <label class="checkbox-inline checkbox-styled">
                                <input type="checkbox" value="option1"><span>Archery</span>
                            </label>
                        </p>
                        <p>
                            <label class="checkbox-inline checkbox-styled">
                                <input type="checkbox" value="option1"><span>Athletic</span>
                            </label>
                        </p>
                        <p>
                            <label class="checkbox-inline checkbox-styled">
                                <input type="checkbox" value="option1"><span>Badminton</span>
                            </label>
                        </p>
                        <p>
                            <label class="checkbox-inline checkbox-styled">
                                <input type="checkbox" value="option1"><span>Ball</span>
                            </label>
                        </p>
                        <p>
                            <label class="checkbox-inline checkbox-styled">
                                <input type="checkbox" value="option1"><span>Bowling</span>
                            </label>
                        </p>
                        <p>
                            <label class="checkbox-inline checkbox-styled">
                                <input type="checkbox" value="option1"><span>Bungee jumping</span>
                            </label>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <label class="checkbox-inline checkbox-styled">
                                <input type="checkbox" value="option1"><span>Archery</span>
                            </label>
                        </p>
                        <p>
                            <label class="checkbox-inline checkbox-styled">
                                <input type="checkbox" value="option1"><span>Athletic</span>
                            </label>
                        </p>
                        <p>
                            <label class="checkbox-inline checkbox-styled">
                                <input type="checkbox" value="option1"><span>Badminton</span>
                            </label>
                        </p>
                        <p>
                            <label class="checkbox-inline checkbox-styled">
                                <input type="checkbox" value="option1"><span>Ball</span>
                            </label>
                        </p>
                        <p>
                            <label class="checkbox-inline checkbox-styled">
                                <input type="checkbox" value="option1"><span>Bowling</span>
                            </label>
                        </p>
                        <p>
                            <label class="checkbox-inline checkbox-styled">
                                <input type="checkbox" value="option1"><span>Bungee jumping</span>
                            </label>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <label class="checkbox-inline checkbox-styled">
                                <input type="checkbox" value="option1"><span>Archery</span>
                            </label>
                        </p>
                        <p>
                            <label class="checkbox-inline checkbox-styled">
                                <input type="checkbox" value="option1"><span>Athletic</span>
                            </label>
                        </p>
                        <p>
                            <label class="checkbox-inline checkbox-styled">
                                <input type="checkbox" value="option1"><span>Badminton</span>
                            </label>
                        </p>
                        <p>
                            <label class="checkbox-inline checkbox-styled">
                                <input type="checkbox" value="option1"><span>Ball</span>
                            </label>
                        </p>
                        <p>
                            <label class="checkbox-inline checkbox-styled">
                                <input type="checkbox" value="option1"><span>Bowling</span>
                            </label>
                        </p>
                        <p>
                            <label class="checkbox-inline checkbox-styled">
                                <input type="checkbox" value="option1"><span>Bungee jumping</span>
                            </label>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><button type="button" class="btn btn-block ink-reaction btn-flat btn-danger">Cancel</button></div>
                    <div class="col-sm-3 pull-right">
                        <button type="button" class="btn btn-block ink-reaction btn-flat btn-primary ">Apply</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div><!--end .section-header -->
<section>

    <div class="section-body">
        <div class="row">
            <div class="col-md-12 title-column">
                <span class="text-lg text-bold text-primary">Like Sport</span>
                <a class="pull-right">See all <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
            </div>

        </div>
        <div class="col-md-12">
            <div class="carousel carousel-showmanymoveone slide" data-ride="carousel" data-type="multi" data-interval="3000" id="myCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-xs-12 col-sm-6 col-md-2">
                            <div class="card mitem ">

                                <div class="card-body card-body-2">
                                    <div class="image">
                                        <img src="~/Contents/img/product/08b26b83-d2d3-45e9-919d-76931c3eb3a1.jpg" />
                                    </div>
                                    <div class="item-content">
                                        <a class="item-name twoLineTitle">
                                            <h4>1 Kem gelato vị nước mắm - Ralf's Artisan Gelato - 39 Đặng Thị Nhu, Nguyễn Thái Bình, Quận 1, Hồ Chí Minh</h4>
                                        </a>
                                        <span class="price">210.000đ <span class="pull-right"><i class="fa fa-comment" aria-hidden="true">12</i></span></span>
                                    </div>
                                    <div class="item-activity">
                                        <div class="rating">
                                            <fieldset class="rating">
                                                <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                                                <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                                <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                                <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                                <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                                <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                                <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                                <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                                <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                                <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>

                                            </fieldset>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-12 col-sm-6 col-md-2">
                            <div class="card mitem ">

                                <div class="card-body card-body-2">
                                    <div class="image">
                                        <img src="~/Contents/img/product/2320b2a3-53d2-4bf3-9fda-711ec2c64670.jpg" />
                                    </div>
                                    <div class="item-content">
                                        <a class="item-name twoLineTitle">
                                            <h4>1 Kem gelato vị nước mắm - Ralf's Artisan Gelato - 39 Đặng Thị Nhu, Nguyễn Thái Bình, Quận 1, Hồ Chí Minh</h4>
                                        </a>
                                        <span class="price">210.000đ <span class="pull-right"><i class="fa fa-comment" aria-hidden="true">12</i></span></span>
                                    </div>
                                    <div class="item-activity">
                                        <div class="rating">
                                            <fieldset class="rating">
                                                <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                                                <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                                <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                                <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                                <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                                <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                                <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                                <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                                <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                                <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>

                                            </fieldset>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-12 col-sm-6 col-md-2">
                            <div class="card mitem ">

                                <div class="card-body card-body-2">
                                    <div class="image">
                                        <img src="~/Contents/img/product/2c3fca27-e4d1-45c5-b498-d2e572eb3d3c.jpg" />
                                    </div>
                                    <div class="item-content">
                                        <a class="item-name twoLineTitle">
                                            <h4>1 Kem gelato vị nước mắm - Ralf's Artisan Gelato - 39 Đặng Thị Nhu, Nguyễn Thái Bình, Quận 1, Hồ Chí Minh</h4>
                                        </a>
                                        <span class="price">210.000đ <span class="pull-right"><i class="fa fa-comment" aria-hidden="true">12</i></span></span>
                                    </div>
                                    <div class="item-activity">
                                        <div class="rating">
                                            <fieldset class="rating">
                                                <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                                                <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                                <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                                <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                                <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                                <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                                <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                                <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                                <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                                <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>

                                            </fieldset>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-12 col-sm-6 col-md-2">
                            <div class="card mitem ">

                                <div class="card-body card-body-2">
                                    <div class="image">
                                        <img src="~/Contents/img/product/359b027b-210d-4a8c-8a18-fd17552cd632.jpg" />
                                    </div>
                                    <div class="item-content">
                                        <a class="item-name twoLineTitle">
                                            <h4>1 Kem gelato vị nước mắm - Ralf's Artisan Gelato - 39 Đặng Thị Nhu, Nguyễn Thái Bình, Quận 1, Hồ Chí Minh</h4>
                                        </a>
                                        <span class="price">210.000đ <span class="pull-right"><i class="fa fa-comment" aria-hidden="true">12</i></span></span>
                                    </div>
                                    <div class="item-activity">
                                        <div class="rating">
                                            <fieldset class="rating">
                                                <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                                                <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                                <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                                <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                                <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                                <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                                <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                                <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                                <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                                <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>

                                            </fieldset>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-12 col-sm-6 col-md-2">
                            <div class="card mitem ">

                                <div class="card-body card-body-2">
                                    <div class="image">
                                        <img src="~/Contents/img/product/3a642333-8236-48c4-9a92-966c9bed6aa0.jpg" />
                                    </div>
                                    <div class="item-content">
                                        <a class="item-name twoLineTitle">
                                            <h4>1 Kem gelato vị nước mắm - Ralf's Artisan Gelato - 39 Đặng Thị Nhu, Nguyễn Thái Bình, Quận 1, Hồ Chí Minh</h4>
                                        </a>
                                        <span class="price">210.000đ <span class="pull-right"><i class="fa fa-comment" aria-hidden="true">12</i></span></span>
                                    </div>
                                    <div class="item-activity">
                                        <div class="rating">
                                            <fieldset class="rating">
                                                <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                                                <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                                <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                                <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                                <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                                <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                                <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                                <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                                <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                                <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>

                                            </fieldset>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-12 col-sm-6 col-md-2">
                            <div class="card mitem ">

                                <div class="card-body card-body-2">
                                    <div class="image">
                                        <img src="~/Contents/img/product/752866be-801e-4f51-bb31-023477285660.jpg" />
                                    </div>
                                    <div class="item-content">
                                        <a class="item-name twoLineTitle">
                                            <h4>1 Kem gelato vị nước mắm - Ralf's Artisan Gelato - 39 Đặng Thị Nhu, Nguyễn Thái Bình, Quận 1, Hồ Chí Minh</h4>
                                        </a>
                                        <span class="price">210.000đ <span class="pull-right"><i class="fa fa-comment" aria-hidden="true">12</i></span></span>
                                    </div>
                                    <div class="item-activity">
                                        <div class="rating">
                                            <fieldset class="rating">
                                                <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                                                <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                                <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                                <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                                <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                                <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                                <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                                <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                                <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                                <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>

                                            </fieldset>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-12 col-sm-6 col-md-2">
                            <div class="card mitem ">

                                <div class="card-body card-body-2">
                                    <div class="image">
                                        <img src="~/Contents/img/product/359b027b-210d-4a8c-8a18-fd17552cd632.jpg" />
                                    </div>
                                    <div class="item-content">
                                        <a class="item-name twoLineTitle">
                                            <h4>1 Kem gelato vị nước mắm - Ralf's Artisan Gelato - 39 Đặng Thị Nhu, Nguyễn Thái Bình, Quận 1, Hồ Chí Minh</h4>
                                        </a>
                                        <span class="price">210.000đ <span class="pull-right"><i class="fa fa-comment" aria-hidden="true">12</i></span></span>
                                    </div>
                                    <div class="item-activity">
                                        <div class="rating">
                                            <fieldset class="rating">
                                                <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                                                <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                                <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                                <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                                <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                                <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                                <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                                <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                                <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                                <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>

                                            </fieldset>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-12 col-sm-6 col-md-2">
                            <div class="card mitem ">

                                <div class="card-body card-body-2">
                                    <div class="image">
                                        <img src="~/Contents/img/product/2320b2a3-53d2-4bf3-9fda-711ec2c64670.jpg" />
                                    </div>
                                    <div class="item-content">
                                        <a class="item-name twoLineTitle">
                                            <h4>1 Kem gelato vị nước mắm - Ralf's Artisan Gelato - 39 Đặng Thị Nhu, Nguyễn Thái Bình, Quận 1, Hồ Chí Minh</h4>
                                        </a>
                                        <span class="price">210.000đ <span class="pull-right"><i class="fa fa-comment" aria-hidden="true">12</i></span></span>
                                    </div>
                                    <div class="item-activity">
                                        <div class="rating">
                                            <fieldset class="rating">
                                                <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                                                <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                                <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                                <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                                <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                                <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                                <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                                <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                                <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                                <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>

                                            </fieldset>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
        </div>

    </div><!--end .section-body -->

    <div class="container">



    </div>

</section>
<script>
    (function () {
        //$('button').click(function () {
        //    $('body').append('<div class="overlay"></div>');
        //});
      
        $(window).scroll(function () {
            if (document.body.scrollTop == 0) {
                //$(".mheader").css('box-shadow', 'none');
                $(".mheader").css('box-shadow', 'none');

            } else {
                $(".mheader").css('box-shadow', '0 0.2px 0 0 rgba(0, 0, 0, 0.33)');

            }
        });
        $(document).on('click', '.section-header .dropdown-menu', function (e) {
            $('body').append('<div  class="overlay"></div>');
            e.stopPropagation();
        });
        $('.carousel').carousel({
            wrap: false,
            interval: false
        }).on('slid.bs.carousel', function () {
            //var curSlide = $('.active');
            //if (curSlide.is(':first-child')) {
            //    $('.left').hide();
            //    $('.right').show();
            //    return;
            //} else {
            //    $('.left').show();
            //}
            // if (curSlide.is(':last-child')) {
            //     $('.right').hide();
            //     $('.left').show();
            //    return;
            //} else {
            //    $('.right').show();

            //}
        });
    }());

    (function () {
        $('.carousel[data-type="multi"] .item').each(function () {
            var next = $(this).next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));

            for (var i = 0; i < 4; i++) {
                next = next.next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }

                next.children(':first-child').clone().appendTo($(this));
            }
        });

    }());
</script>


