
@{
    ViewBag.Title = "DetailProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section>

    <div class="section-body">
        <div class="container">

            <div class="row">

                <div class="col-md-8" style="overflow-y:auto;">

                    <div>
                        <h1 class="text-ultra-bold">Taste the real R(h)ome </h1>
                        <p class="text-lg">
                            Rome · Immerse yourself in the Italian cuisine's flavors

                        </p>
                        <hr class="ruler-xxl">
                        <div class="row">
                            <div class="col-md-9">
                                <h2 class="text-lg">Food & drink experience</h2>
                                <h2 class="text-lg">
                                    Hosted by <a>Fulvia</a>
                                </h2>
                                <h2 class="text-lg text-normal">
                                    <a>Contact host</a>
                                </h2>
                            </div>
                            <div class="col-md-3">
                                <h2>
                                    <img class="img-circle width-2" src="~/Contents/img/avatar/11a13c85-5b4b-4e22-983d-5cac5ef22619.jpg" />

                                </h2>
                            </div>
                        </div>
                        <h2 class="text-lg text-light"><i class="fa fa-comments-o"></i> Offered in English</h2>
                        <hr class="ruler-xxl">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="text-medium">About your host, Fulvia</h3>
                            </div>
                            <div class="col-md-9">
                                <h3 class="text-lg text-light">Cooking, gardening, and entertaining are my passions that I like to share. I love to make organic food with the products of my veggie garden and to be surrounded by my hundred quality of roses.</h3>
                            </div>
                        </div>
                        <hr class="ruler-xxl">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="text-medium">What we’ll do</h3>
                            </div>
                            <div class="col-md-9">
                                <h3 class="text-lg text-light">We'll take a tour in one of the biggest and suggestive market of Rome to take inspiration and buy the basic ingredients that we'll need. We'll taste some fresh specialities like mozzarella di bufala, ham, seasonal fruit, extra virgin oil and wine. Then I'll take you to my country house, surrounded by roses, where you will learn the secrets of traditional italian cooking art, starting from fresh vegetable picked up from the garden. We'll finally enjoy the meal under the grape pergola with a glass of wine.</h3>
                            </div>
                        </div>
                        <hr class="ruler-xxl">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="text-medium">What I’ll provide</h3>
                            </div>
                            <div class="col-md-9">
                                <h3 class="text-lg text-light">
                                    Lunch and drinks 󴀁
                                    Starter, main course, dessert

                                    Cooking applicance
                                </h3>
                            </div>
                        </div>
                        <hr class="ruler-xxl">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="text-medium">Notes</h3>
                            </div>
                            <div class="col-md-9">
                                <h3 class="text-lg text-light">Bring your own camera Inform me in advance of any food allergies</h3>
                            </div>
                        </div>
                        <hr class="ruler-xxl">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="text-medium">Where we’ll be</h3>
                            </div>
                            <div class="col-md-9">
                                <h3 class="text-lg text-light">We'll meet at Trionfale market, near the Vatican city then we'll move to my country house, an old building from the '20s in the green and exclusive area of Olgiata , 30' from the city. We will visit the garden, pick up fresh vegetable, move through my kitchen and end all gathered around the table.</h3>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body no-padding">
                                <div id="basic-map" class="border-gray height-10" style="position: relative; overflow: hidden;">
                                    <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
                                        <div class="gm-err-container">
                                            <div class="gm-err-content">
                                                <div class="gm-err-icon">
                                                    <img src="https://maps.gstatic.com/mapfiles/api-3/images/icon_error.png" draggable="false" style="user-select: none;">
                                                </div>
                                                <div class="gm-err-title">Rất tiếc! Đã xảy ra lỗi.</div>
                                                <div class="gm-err-message">Trang này đã không tải Google Maps đúng cách. Hãy xem bảng điều khiển JavaScript để biết chi tiết kỹ thuật.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="ruler-xxl">
                        <h3 class="text-medium">Reviews</h3>
                        <ul class="list-comments">
                            <li>
                                <div class="card">
                                    <div class="comment-avatar">
                                        <i class="glyphicon glyphicon-user opacity-50"></i>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="comment-title">Jim Peters <small>20/06/2013 at 4:02 pm</small></h4>
                                        <a class="btn btn-default-dark stick-top-right" href="#respond">Reply</a>
                                        <p>Etiam dui libero, tempor quis congue in, interdum eget tortor. Vivamus aliquam dictum lacus quis tincidunt. Phasellus rhoncus ante sollicitudin nisl consectetur ultricies. Sed rhoncus ullamcorper mauris, ac condimentum metus egestas ut. Nam et urna ante, vitae pretium lacus.</p>
                                    </div>
                                </div><!--end .card -->
                            </li><!-- end comment -->
                            <li>
                                <div class="card">
                                    <div class="comment-avatar">
                                        <i class="glyphicon glyphicon-user opacity-50"></i>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="comment-title">Jim Peters <small>20/06/2013 at 4:02 pm</small></h4>
                                        <a class="btn btn-default-dark stick-top-right" href="#respond">Reply</a>
                                        <p>Etiam dui libero, tempor quis congue in, interdum eget tortor. Vivamus aliquam dictum lacus quis tincidunt. Phasellus rhoncus ante sollicitudin nisl consectetur ultricies. Sed rhoncus ullamcorper mauris, ac condimentum metus egestas ut. Nam et urna ante, vitae pretium lacus.</p>
                                    </div>
                                </div><!--end .card -->
                            </li><!-- end comment -->
                        </ul>
                        <hr class="ruler-xxl">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>
                                    <a>Read all 36 reviews</a>
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <div class="rating pull-right" style="margin-top: 14px">
                                    <fieldset class="rating">
                                        <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                                        <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                        <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                        <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                        <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                        <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                        <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                        <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                        <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                        <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>

                                    </fieldset>

                                </div>
                            </div>


                        </div>
                        <hr class="ruler-xxl">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="text-medium">Group size</h3>
                            </div>
                            <div class="col-md-9">
                                <h3 class="text-lg text-light">There are 8 spots available on this experience.You don’t have to fill all of them. Experiences are meant to be social, so other travelers could join too.</h3>
                            </div>
                        </div>
                        <hr class="ruler-xxl">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="text-medium">Guest requirements</h3>
                            </div>
                            <div class="col-md-9">
                                <h3 class="text-lg text-light">AgeAll guests must be at least 18 and meet the legal drinking age, because this experience includes alcohol. Children can’t come along</h3>
                            </div>
                        </div>
                        <hr class="ruler-xxl">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="text-medium">Flexible cancellation policy</h3>
                            </div>
                            <div class="col-md-9">
                                <h3 class="text-lg text-light">Any trip or experience can be canceled and fully refunded within 24 hours of purchase. See cancellation policy.</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-body-2">
                        <img class="img-detail" src="~/Contents/img/product/08b26b83-d2d3-45e9-919d-76931c3eb3a1.jpg" />

                        <div class="card-body height-3 no-padding" style="margin-top: 10px">
                            <div class="row">
                                <div class="col-md-6" style="padding-left: 26px;">
                                    <p class="price-detail">210.000đ</p>
                                    <div class="rating-2" style="margin: -2px;">
                                        <fieldset class="rating-2">
                                            <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                                            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                            <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                            <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                            <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                            <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                            <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>

                                        </fieldset>
                                        <span class="text-sm review">36 reviews</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn ink-reaction btn-primary active btn-purchase">Purchase</button>
                                </div>
                            </div>
                            <hr class="ruler-xxl">
                            <button type="button" class="btn ink-reaction btn-icon-toggle btn-lg btn-primary">
                                <i class="fa fa-facebook"></i>
                            </button>
                            <button type="button" class="btn ink-reaction btn-icon-toggle btn-lg btn-primary">
                                <i class="fa fa-twitter"></i>
                            </button>
                            <button type="button" class="btn ink-reaction btn-icon-toggle btn-lg btn-primary">
                                <i class="md md-email"></i>
                            </button>
                            <span class="pull-right text-lg" style="padding: 8px 15px;"><a>Save to wish list <i class="fa fa-heart-o"></i></a></span>
                        </div>
                    </div><!--end .card -->
                </div>
            </div>

        </div>

    </div><!--end .section-body -->



</section>
