@model IEnumerable<LikeSport.Web.Models.ServiceViewModel>
@*@model Tuple<IEnumerable<LikeSport.Web.Models.ServiceViewModel>, LikeSport.Web.Models.LoginRegisterViewModel>*@
<header id="header" style="top: 0;">
    <div class="headerbar">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="headerbar-left">
            <ul class="header-nav header-nav-options">
                <li class="header-nav-brand">
                    <div class="brand-holder">
                        <a href="/Trang-chu">
                            <span class="text-lg text-bold text-primary">Like Sport</span>
                        </a>
                    </div>
                </li>
                <li>
                    <!-- Search form -->
                    <form class="navbar-search" role="search">
                        <button type="submit" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
                        <div class="form-group">
                            <input type="text" class="form-control" name="headerSearch" placeholder="Enter your keyword">
                        </div>

                    </form>
                </li>
            </ul>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="headerbar-right">
            @Html.Partial("_LoginPartial",new LikeSport.Web.Models.LoginRegisterViewModel())
        </div><!--end #header-navbar-collapse -->
        <div class="headerbar-menu">
            <ul class="header-nav header-nav-options">
                <li class="header-nav-brand">
                    <div class="brand-holder">
                        <a href="#" class="active-menu">
                            <span class="text-bold ">Home</span>
                        </a>
                    </div>
                </li>
               @if (Model != null)
               {
                   if (Model.Any())
                   {
                    foreach (var item in Model.OrderByDescending(m=>m.Id))
                    {
                        <li class="header-nav-brand">
                            <div class="brand-holder">
                                <a href="#">
                                    <span class="text-bold">@item.NameType</span>
                                </a>
                            </div>
                        </li>
                    }
                   }
               }
              
              
            </ul>
        </div>
    </div>

</header>

