@model IEnumerable<LikeSport.Web.Models.ServiceViewModel>
@*@model Tuple<IEnumerable<LikeSport.Web.Models.ServiceViewModel>, LikeSport.Web.Models.LoginRegisterViewModel>*@
<link href="~/Contents/css/bootstrap-select.css" rel="stylesheet" />
<header id="header" style="top: 0;">
    <div class="headerbar">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="headerbar-left">
            <ul class="header-nav header-nav-options">
                <li class="header-nav-brand">
                    <div class="brand-holder">
                        <a href="/Trang-chu">
                            <span class="text-lg text-bold text-primary">Like Sport</span>
                        </a>
                    </div>
                </li>
                <li>
                    <!-- Search form -->
                    @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "navbar-search expanded",id="mForm", role = "search" }))
                    {

                        <div class="input-group">
                            <input type="text" class="form-control" name="searchText" placeholder="Enter your keyword">
                            <div class="input-group-btn">
                                <input type="hidden" id="service" name="service" value=""/>
                                <script>
                                    $("form").submit(function() {
                                        $("#service").val($('#spService').text());
                                    })
                                </script>
                                <select title="Services" class="selectpicker" multiple="" data-hide-disabled="true" data-size="5" tabindex="-98">
                                    <option>Hide</option>
                                    <option>Expericance</option>
                                    <option>Sell</option>
                                    <option>Learn</option>

                                </select>

                            </div>

                        </div>
                    }
                </li>
            </ul>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="headerbar-right">
            @Html.Partial("_LoginPartial", new LikeSport.Web.Models.LoginRegisterViewModel())
        </div><!--end #header-navbar-collapse -->
        <div class="headerbar-menu">
            <ul class="header-nav header-nav-options">
                <li class="header-nav-brand">
                    <div class="brand-holder">
                        <a href="#" class="active-menu">
                            <span class="text-bold ">Home</span>
                        </a>
                    </div>
                </li>
                @if (Model != null)
                {
                    if (Model.Any())
                    {
                        foreach (var item in Model.OrderByDescending(m => m.Id))
                        {
                            <li class="header-nav-brand">
                                <div class="brand-holder">
                                    <a href="#">
                                        <span class="text-bold">@item.NameType</span>
                                    </a>
                                </div>
                            </li>
                        }
                    }
                }


            </ul>
        </div>
    </div>

</header>
