
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="section-header">
        <ol class="breadcrumb">
            <li><a href="../../html/.html">home</a></li>
            <li class="active">Blank page</li>
        </ol>
    </div><!--end .section-header -->
    <div class="section-body">
    </div><!--end .section-body -->
</section>
