
@{
    ViewBag.Title = "Index";
    //Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>
    <div class="section-header">
            <ol class="breadcrumb">
                <li><a href="../../html/.html">home</a></li>
                <li class="active">Blank page</li>
            </ol>
        </div><!--end .section-header -->
    <div class="section-body">
        <div class="row">
            <div class="col-md-12">
                <div class="carousel carousel-showmanymoveone slide" id="carouselABC">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-xs-12 col-sm-6 col-md-3"><a href="#"><img src="http://placehold.it/500/0054A6/fff/&amp;text=A" class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12 col-sm-6 col-md-3"><a href="#"><img src="http://placehold.it/500/002d5a/fff/&amp;text=B" class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12 col-sm-6 col-md-3"><a href="#"><img src="http://placehold.it/500/d6d6d6/333&amp;text=C" class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12 col-sm-6 col-md-3"><a href="#"><img src="http://placehold.it/500/002040/eeeeee&amp;text=D" class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12 col-sm-6 col-md-3"><a href="#"><img src="http://placehold.it/500/0054A6/fff/&amp;text=E" class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12 col-sm-6 col-md-3"><a href="#"><img src="http://placehold.it/500/002d5a/fff/&amp;text=F" class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12 col-sm-6 col-md-3"><a href="#"><img src="http://placehold.it/500/eeeeee&amp;text=G" class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12 col-sm-6 col-md-3"><a href="#"><img src="http://placehold.it/500/40a1ff/002040&amp;text=H" class="img-responsive"></a></div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carouselABC" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                    <a class="right carousel-control" href="#carouselABC" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div><!--end .section-body -->

    <div class="container">
     
       
        
    </div>
    @*<script src="/Contents/js/libs/jquery/jquery-1.11.2.min.js"></script>
    <script src="~/Contents/js/libs/bootstrap/bootstrap.min.js"></script>*@
</section>
<script>
    //(function () {
    //    // setup your carousels as you normally would using JS
    //    // or via data attributes according to the documentation
    //    // https://getbootstrap.com/javascript/#carousel
    //    $('#carousel123').carousel({ interval: 2000 });
    //    $('#carouselABC').carousel({ interval: 3600 });
    //}());

    (function () {
        $('.carousel-showmanymoveone .item').each(function () {
            var itemToClone = $(this);

            for (var i = 1; i < 4; i++) {
                itemToClone = itemToClone.next();

                // wrap around if at end of item collection
                if (!itemToClone.length) {
                    itemToClone = $(this).siblings(':first');
                }

                // grab item, clone, add marker class, add to collection
                itemToClone.children(':first-child').clone()
                  .addClass("cloneditem-" + (i))
                  .appendTo($(this));
            }
        });
    }());
</script>